<div class="container">
  <div>
    <h1>All our Cocktails (<%=@cocktails.size%>)</h1>
  </div>
  <div class="card-section">
      <% @cocktails.each do |cocktail| %>
        <div class="card-product">
          <% if cocktail.photo.attached?  %>
            <%= cl_image_tag cocktail.photo.key, width: 200, crop: :fill %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            <% cocktail.ingredients.each do |ingredient| %>
            <p><%= ingredient.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
